
  <h1>Stupid Coaching</h1>
<p><%= @answer %></p>



<%= link_to "Tu veux quoi encore ?", ask_path %>

<!-- <form action="ask">
  <input type="text" name="???">
  <input type="submit" value="Ask!">
</form> -->
